article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary { display:block }

audio,canvas,video { display:inline-block; *display:inline;	*zoom:1 }

audio:not([controls]) { display:none; height:0 } [hidden] { display:none }

html { font-size:100%; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100% }

html,button,input,select,textarea { font-family:sans-serif }

body { margin:0 }

a:focus { outline:thin dotted }

a:active, a:hover { outline:0 }

h1 { font-size:2em; margin:.67em 0 }

h2 { font-size:1.5em; margin:.83em 0 }

h3 { font-size:1.17em; margin:1em 0 } 

h4 { font-size:1em; margin:1.33em 0 }

h5 { font-size:.83em; margin:1.67em 0 }

h6 { font-size:.67em; margin:2.33em 0 }

abbr[title] { border-bottom:1px dotted }

b,strong { font-weight:bold }

blockquote { margin:1em 40px }

dfn { font-style:italic }

hr { -moz-box-sizing:content-box; box-sizing:content-box; height:0 }

mark { background:#ff0;color:#000 }

p,pre { margin:1em 0 }

code,kbd,pre,samp { font-family:monospace,serif; _font-family:'courier new',monospace; font-size:1em }

pre { white-space:pre; white-space:pre-wrap; word-wrap:break-word }

q { quotes:none }

q:before,q:after { content:''; content:none }

small { font-size:80% }

sub,sup { font-size:75%; line-height:0; position:relative; vertical-align:baseline }

sup { top:-0.5em }

sub { bottom:-0.25em }

dl,menu,ol,ul { margin:1em 0 }

dd { margin:0 0 0 40px }

menu,ol,ul { padding:0 0 0 40px }

nav ul,nav ol { list-style:none; list-style-image:none }

img { border:0; -ms-interpolation-mode:bicubic }

svg:not(:root) { overflow:hidden }

figure { margin:0 }

form { margin:0 }

fieldset { border:1px solid #c0c0c0; margin:0 2px; padding:.35em .625em .75em }

legend { border:0; padding:0; white-space:normal; *margin-left:-7px }

button,input,select,textarea { font-size:100%; margin:0; vertical-align:baseline; *vertical-align:middle }

button,input { line-height:normal }

button,select { text-transform:none }

button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible}

button[disabled],html input[disabled] { cursor:default }

input[type="checkbox"],input[type="radio"] { box-sizing:border-box; padding:0; *height:13px; *width:13px }

input[type="search"] { -webkit-appearance:textfield; -moz-box-sizing:content-box; -webkit-box-sizing:content-box; box-sizing:content-box } 

input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration { -webkit-appearance:none }

button::-moz-focus-inner,input::-moz-focus-inner { border:0; padding:0 }

textarea { overflow:auto; vertical-align:top }

table{border-collapse:collapse;border-spacing:0}

html,button,input,select,textarea { color:#222 }

body { font-size:1em; line-height:1.4 }

::-moz-selection { background:#b3d4fc; text-shadow:none }

::selection { background:#b3d4fc; text-shadow:none }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0 }

img { vertical-align:middle }

fieldset { border:0; margin:0; padding:0 }

textarea { resize:vertical }

.chromeframe { margin:.2em 0; background:#ccc; color:#000; padding:.2em 0 }

.simple-list { margin:0; padding:0; list-style-type:none }

.simple-list li { margin:0; padding:0 }

body { font-family:"proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif; color:#8f8772; background-color:#ebe8e1 }

a,a:visited { color:#e07051; text-decoration:none }

a:hover,a:visited:hover { text-decoration:underline }

.container { width:1000px; margin:5em auto }

.container .sidebar { width:300px; float:right }

.container .content { width:680px; float:left }

.main-menu { margin-top:1em }

.main-menu ul { margin:0; padding:0; list-style-type:none }

.main-menu ul li { margin:0; padding:0 }

.main-menu a,.main-menu a:visited { margin-bottom:.5em; padding:.5em; font-family:"pragmatica-web","Helvetica Neue",Helvetica,Arial,sans-serif; font-weight:200; display:block; background-color:#e1dcd2; font-size:.8em; text-transform:uppercase }

.posts article { background-color:#fff; padding:2em; -webkit-box-shadow:0 2px 3px #d6d3cb; box-shadow:0 2px 3px #d6d3cb}

.posts article h1, .posts article h2, .posts article h3 { font-family:"pragmatica-web","Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:200}

.posts article h1 { margin:0 }

.posts article h1 a, .posts article h1 a:visited { color:#777; -webkit-transition:all .2s linear; -moz-transition:all .2s linear; -o-transition:all .2s linear; transition:all .2s linear}

.posts article h1 a:hover, .posts article h1 a:visited:hover { text-decoration:none; color:#e07051 }

.posts article .meta { display:block; font-family:"pragmatica-web","Helvetica Neue",Helvetica,Arial,sans-serif; font-weight:200; color:#bbb; font-size:.8em; line-height:1em; margin:.5em 0 2em 0 }

.posts article p { line-height:1.6em; margin:0 0 2em 0; color:#555}

.posts article .back-link,.posts article .read-more { display:block; font-family:"pragmatica-web","Helvetica Neue",Helvetica,Arial,sans-serif; font-weight:200; float:right; }

.posts article pre { font-size:.7em; padding:2em; background-color:#333131; margin:2em 0 3em 0}

.posts article pre code { font-family:'Source Code Pro',Monaco,Consolas,"Lucida Console",monospace }

.posts article pre code span { line-height:1.6em }

.posts article pre .pln { color:#e9e4e5 }

.posts article pre .str { color:#bcd42a }

.posts article pre .kwd { color:#4bb1b1 }

.posts article pre .com { color:#888 }

.posts article pre .typ { color:#ef7c61 }

.posts article pre .lit { color:#bcd42a }

.posts article pre .pun,.posts article pre .opn,.posts article pre .clo { color:#fff }

.posts article pre .tag { color:#4bb1b1 }

.posts article pre .atn { color:#ef7c61 }

.posts article pre .atv { color:#bcd42a }

.posts article pre .dec,.posts article pre .var { color:#606 }

.posts article pre .fun { color:#f00 }

.posts article img { display:block; margin:0 auto; max-width:100% }

.posts article p>code { font-size:.8em; font-family:'Source Code Pro',Monaco,Consolas,"Lucida Console",monospace; background-color:#faebe3; padding:0 .5em; display:inline-block; line-height:1.5em; color:#8a5033; text-shadow:1px 1px 0 #fff; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px }

.posts.index article { border-bottom:1px solid #f3f3f3; margin-bottom:1.4em }

.posts.index article:last-child { border-bottom:0 }

.pagination ul { margin:0; padding:0; list-style-type:none }

.pagination ul li { margin:0; padding:0 }

.pagination ul li { display:inline }

.pagination ul li.disabled { display:none }

.pagination ul a,.pagination ul a:visited { display:inline-block; padding:.6em; background-color:#d9d5ce; color:#8c887d; font-family:"pragmatica-web","Helvetica Neue",Helvetica,Arial,sans-serif; font-weight:200; margin-right:.3em; text-decoration:none }

.pagination ul a:hover,.pagination ul a:visited:hover { background-color:#d1cdc5; color:#78746d }

.pagination ul li.active a,.pagination ul li.active a:hover { color:#fff; background-color:#e07051 }

.comments { background-color:#e07051; padding:1.5em; -webkit-box-shadow:0 2px 3px #d6d3cb; box-shadow:0 2px 3px #d6d3cb }

.comments a,.comments a:visited { color:#f2dad3 }

.comments a:hover,.comments a:visited:hover { color:#fff }

.link { display:block; opacity:.7; text-decoration:none; -webkit-transition:all .2s linear; -moz-transition:all .2s linear; -o-transition:all .2s linear; transition:all .2s linear;margin-bottom:3em }

.link:hover { opacity:1;text-decoration:none }

.link:hover .caption { background-color:#e07051; color:#fff; text-shadow:0 1px 1px #97361b }

.link .caption{display:block;background-color:#ccc5b3;font-size:.8em;text-align:center;padding:.5em;color:#4d4533;-webkit-transition:all .2s linear;-moz-transition:all .2s linear;-o-transition:all .2s linear;transition:all .2s linear}

.copyright { font-size:.7em; display:block; text-align:center; text-transform:uppercase; color:#ccc5b3; border-top:1px solid #e1dcd2; padding-top:1em; font-family:"pragmatica-web","Helvetica Neue",Helvetica,Arial,sans-serif; font-weight:200 }

.ir { background-color:transparent; border:0; overflow:hidden; *text-indent:-9999px }

.ir:before { content:""; display:block; width:0; height:150% }

.hidden { display:none!important; visibility:hidden }

.visuallyhidden { border:0; clip:rect(0 0 0 0); height:1px; margin:-1px; overflow:hidden; padding:0; position:absolute; width:1px }

.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus { clip:auto; height:auto; margin:0; overflow:visible; position:static; width:auto}

.invisible{ visibility:hidden }

.clearfix:before,.clearfix:after { content:" "; display:table }

.clearfix:after { clear:both }

.clearfix { *zoom:1 }